@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Sen:wght@400;700;800&family=Unica+One&display=swap");

// font-family: 'Questrial', sans-serif;
// font-family: 'Sen', sans-serif;
// font-family: 'Unica One', cursive;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;

  --font-style-main: "Questrial";
  --font-style-sec: "Sen";
  --font-style-util: "Unica One";

  --color-main-dark: #12263a;
  --color-main-light: #b5dead;
  --color-sec-dark: #af3800;
  --color-sec-light: #778da9;
  --color-util: #e8aa14;
  --color-bg-1: #ff958c;

  transition: all 120ms ease-in-out;

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .align {
    align-items: center;
  }

  .justify {
    justify-content: center;
  }

  .space-between {
    justify-content: space-between;
  }

  .container {
    margin: 0 auto;
  }

  textarea {
    resize: none;
  }

  .hidden {
    display: none;
  }

  .button {
    padding: 0.35rem 1rem;
    border: none;
    font-family: var(--font-style-main);
    border-radius: 7.5px;
  }

  .button + i {
    padding: 0rem 0.5rem;
    padding-right: 0.75rem;
  }

  .btn-container {
    border-radius: 7.5px;
    height: 100%;
    cursor: pointer;
    background-color: var(--color-main-light);
  }
}

#bhome {
  padding: 2rem;

  header {
    justify-content: space-between;
    padding-bottom: 1.25rem;
    border-bottom: 0.05rem solid rgba($color: #12263a, $alpha: 0.25);
    h1 {
      color: var(--color-main-dark);
      span {
        color: var(--color-util);
      }
      i {
        margin: 0rem 1rem;
        font-size: 1.75rem;
      }
      font-family: var(--font-style-util);
    }
  }

  div#modal-create {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    min-height: 40svh;
    background-color: rgba($color: #e8aa14, $alpha: 0.5);
    backdrop-filter: blur(20px);
    padding: 2rem;
    z-index: 6;
    border-radius: 20px;
    div.task-form {
      font-family: var(--font-style-main);

      .icon-important {
        cursor: pointer;
        font-size: 1.25rem;
        position: absolute;
        top: 0rem;
        right: 2rem;
        background-color: #b5dead;
        padding: 1rem 0.75rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      input,
      textarea,
      select {
        width: 100%;
        border: 1px solid rgba($color: #12263a, $alpha: 0.25);
        border-radius: 7.5px;
        padding: 0.5rem 1rem;
      }

      label {
        margin-right: 1rem;
      }

      input[type="color"] {
        width: 5rem;
        padding: 0.5rem;
      }

      div {
        margin: 0.5rem 0rem;
      }

      div.form-stack > div.form-div {
        margin-right: 2rem;
      }

      div.form-btn {
        margin-top: 2rem;
        justify-content: flex-end;
        div.btn-container {
          margin: 0rem 1rem;
        }

        #btn-cancel {
          background: var(--color-bg-1);
        }
      }
    }
  }

  div.backdrop-modal {
    position: absolute;
    height: 100svh;
    width: 100%;
    inset: 0;
    background-color: rgba($color: #b5dead, $alpha: 0.5);
    z-index: 5;
    backdrop-filter: blur(10px);
  }

  main {
    padding: 1rem 0rem;
    div.user-panel {
      padding: 1rem;
      flex: 1.5;
      height: 80svh;
    }

    div.task-panel {
      padding: 1rem;
      flex: 3;
      height: 80svh;
      div.task-card {
        font-family: var(--font-style-main);
        padding: 1rem 2rem;
        width: 100%;
        position: relative;
        color: #12263a;
        background-color: #efefef;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: 1rem 0rem;
        i.fa-star {
          position: absolute;
          top: 0;
          right: 1rem;
          padding: 1rem;
          font-size: 1rem;
        }

        i.delete-btn {
          cursor: pointer;
        }

        h2 {
          font-size: 1.75rem;
        }

        h3 {
          font-size: 1rem;
          margin: 0;
        }

        p {
          margin: 0;
          padding: 0;
        }

        .task-description {
          margin: 1rem 0rem;
        }

        .task-date {
          text-align: end;
          opacity: 0.5;
        }
      }
    }
  }
}
