@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Sen:wght@400;700;800&family=Unica+One&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.25;
  --font-style-main: "Questrial";
  --font-style-sec: "Sen";
  --font-style-util: "Unica One";
  --color-main-dark: #12263a;
  --color-main-light: #b5dead;
  --color-sub-dark: #2b5823;
  --color-sec-dark: #af3800;
  --color-sec-light: #778da9;
  --color-util: #e8aa14;
  --color-bg-1: #ff958c;
  transition: all 120ms ease-in-out;
}
* .flex-row {
  display: flex;
  flex-direction: row;
}
* .flex-col {
  display: flex;
  flex-direction: column;
}
* .align {
  align-items: center;
}
* .justify {
  justify-content: center;
}
* .space-between {
  justify-content: space-between;
}
* .space-around {
  justify-content: space-around;
}
* .container {
  margin: 0 auto;
}
* textarea {
  resize: none;
}
* .hidden {
  display: none;
}
* .invalid-input {
  border: 2px solid #af3800;
}
* .button {
  font-size: 0.85rem;
  padding: 0.35rem 1rem;
  border: none;
  background-color: #d9d9d9;
  font-family: var(--font-style-main);
  border-radius: 7.5px;
}
* .button + i {
  font-size: 0.85rem;
  padding: 0rem 0.5rem;
  padding-right: 0.75rem;
}
* .btn-container {
  border-radius: 7.5px;
  height: 100%;
  cursor: pointer;
  background-color: var(--color-main-light);
}
* .btn-container:hover {
  box-shadow: 1px 1px 1px #12263a;
  transform: translate(-2px, -2px);
}

#bhome {
  padding: 2rem;
}
#bhome header {
  justify-content: space-between;
  padding: 1rem 2rem 1rem 1rem;
  box-shadow: 1px 1px 20px rgba(18, 38, 58, 0.3137254902);
  border-radius: 10px;
  background-color: #efefef;
}
#bhome header h1 {
  margin: 0;
  color: var(--color-main-dark);
  font-family: var(--font-style-util);
}
#bhome header h1 span {
  color: var(--color-util);
}
#bhome header h1 i {
  margin: 0rem 1rem;
  font-size: 1.75rem;
}
#bhome div#modal-create {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-height: 40svh;
  background-color: #efefef;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 2rem;
  z-index: 6;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 5px rgba(18, 38, 58, 0.3137254902));
}
#bhome div#modal-create div.task-form {
  font-family: var(--font-style-main);
}
#bhome div#modal-create div.task-form .icon-important {
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  top: 0rem;
  right: 2rem;
  background-color: #b5dead;
  padding: 1rem 0.75rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#bhome div#modal-create div.task-form input,
#bhome div#modal-create div.task-form textarea,
#bhome div#modal-create div.task-form select {
  font-family: var(--font-style-main);
  width: 100%;
  border: 1px solid rgba(18, 38, 58, 0.25);
  border-radius: 7.5px;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0rem;
}
#bhome div#modal-create div.task-form label {
  margin-right: 1rem;
}
#bhome div#modal-create div.task-form input[type=color] {
  width: 5rem;
  height: 2rem;
  padding: 0.35rem;
}
#bhome div#modal-create div.task-form div {
  margin: 0.5rem 0rem;
}
#bhome div#modal-create div.task-form div.form-stack > div.form-div {
  margin-right: 2rem;
}
#bhome div#modal-create div.task-form div.form-btn {
  margin-top: 2rem;
  justify-content: flex-end;
}
#bhome div#modal-create div.task-form div.form-btn div.btn-container {
  margin: 0rem 1rem;
}
#bhome div#modal-create div.task-form div.form-btn #btn-cancel {
  background: var(--color-bg-1);
}
#bhome div#modal-create div.error-notification p {
  text-align: center;
  color: #af3800;
}
#bhome div.backdrop-modal {
  position: absolute;
  height: 100svh;
  width: 100%;
  inset: 0;
  background-color: rgba(119, 141, 169, 0.5);
  z-index: 5;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
#bhome main {
  margin-top: 1rem;
  padding: 1rem 0rem;
}
#bhome main div.user-panel {
  position: relative;
  padding: 2rem;
  flex: 1.25;
  min-height: 80svh;
  background-color: #efefef;
  border-radius: 20px;
  font-family: var(--font-style-main);
}
#bhome main div.user-panel img {
  width: 35%;
  border-radius: 50%;
  border: 4px solid #12263a;
  margin: 1rem;
}
#bhome main div.user-panel h2 {
  color: #778da9;
  font-size: 1rem;
}
#bhome main div.user-panel h3 {
  font-family: var(--font-style-util);
  font-size: 1.5rem;
  font-weight: 800;
}
#bhome main div.user-panel div.task-filter {
  padding-top: 2rem;
  border-top: 1px solid #12263a;
  margin: 1rem;
  margin-top: 3rem;
  width: 100%;
}
#bhome main div.user-panel div.task-filter input,
#bhome main div.user-panel div.task-filter select {
  width: 100%;
  border: 1px solid rgba(18, 38, 58, 0.25);
  border-radius: 7.5px;
  padding: 0.5rem 1rem;
}
#bhome main div.user-panel div.task-filter div.btn-container {
  height: auto;
  margin: 1rem;
}
#bhome main div.user-panel div.task-summary {
  margin: 1rem;
  flex-wrap: wrap;
}
#bhome main div.user-panel div.task-summary div {
  margin: 1rem 1rem 0rem;
}
#bhome main div.user-panel div.task-summary div h3 {
  padding: 1rem 0rem;
  border: 3px solid #2b5823;
  border-radius: 50%;
  text-align: center;
}
#bhome main div.user-panel div.task-summary div:nth-child(2) h3 {
  border: 3px solid #e8aa14;
}
#bhome main div.user-panel div.task-summary div:nth-child(3) h3 {
  border: 3px solid #af3800;
}
#bhome main div.user-panel div.sign-out {
  justify-self: flex-end;
  align-self: flex-end;
  position: absolute;
  bottom: 0.5rem;
  right: 2rem;
}
#bhome main div.user-panel,
#bhome main div.task-card {
  filter: drop-shadow(2px 2px 5px rgba(18, 38, 58, 0.3137254902));
}
#bhome main div.task-panel {
  padding: 0rem 1rem 0rem 2rem;
  flex: 3;
  height: 80svh;
  overflow-y: scroll;
}
#bhome main div.task-panel div.task-card {
  font-family: var(--font-style-main);
  padding: 1rem 2rem;
  width: 100%;
  position: relative;
  color: #12263a;
  background-color: #efefef;
  border-radius: 10px;
  margin: 0rem 0rem 1rem;
}
#bhome main div.task-panel div.task-card i.fa-star {
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 0rem 1rem;
  font-size: 1rem;
}
#bhome main div.task-panel div.task-card i.delete-btn {
  cursor: pointer;
}
#bhome main div.task-panel div.task-card h2 {
  font-family: var(--font-style-sec);
  font-size: 1.25rem;
}
#bhome main div.task-panel div.task-card h3 {
  font-size: 1rem;
  margin: 0;
}
#bhome main div.task-panel div.task-card h4.urgent-badge {
  position: absolute;
  right: 2rem;
  top: 0;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: var(--font-style-sec);
  color: #af3800;
  background-color: #e8aa14;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#bhome main div.task-panel div.task-card p {
  margin: 0;
  padding: 0;
}
#bhome main div.task-panel div.task-card p.task-description {
  padding-left: 1rem;
  border-left: 1px solid rgba(18, 38, 58, 0.5);
}
#bhome main div.task-panel div.task-card .task-description {
  margin: 1rem 0rem;
}
#bhome main div.task-panel div.task-card div.task-group {
  margin: 1rem 0rem 1.5rem;
  padding-right: 2rem;
}
#bhome main div.task-panel div.task-card div.button-set {
  justify-content: flex-end;
}
#bhome main div.task-panel div.task-card div.button-set .btn-delete {
  background-color: var(--color-bg-1);
  margin-right: 2rem;
}
#bhome main div.task-panel div.task-card .task-date {
  opacity: 0.5;
}

@media screen and (min-width: 1280px) {
  #mobile-menu,
  #mobile-create-task,
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  #bhome {
    padding: 0;
  }
  #bhome header {
    padding: 1.25rem 1rem;
    border-radius: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
  }
  #bhome header #btn-create {
    display: none;
  }
  #bhome header #mobile-menu {
    font-size: 1.25rem;
    font-weight: 600;
    padding-right: 1rem;
  }
  #bhome div#modal-create {
    position: fixed;
    padding: 2rem;
    z-index: 20;
    border-radius: 0;
    height: 100vh;
    width: 100%;
  }
  #bhome div#modal-create div.task-form {
    padding-top: 2rem;
  }
  #bhome div#modal-create div.task-form div.form-stack {
    flex-direction: column;
  }
  #bhome div#modal-create div.task-form div.start-date {
    flex-direction: column;
  }
  #bhome div.backdrop-modal {
    z-index: -999;
  }
  #bhome main div.user-panel {
    position: fixed;
    z-index: 9;
    inset: 0;
    top: 4rem;
    height: 100svh;
  }
  #bhome main #mobile-create-task {
    color: var(--color-sub-dark);
    position: fixed;
    z-index: 1;
    bottom: 3rem;
    right: 1rem;
    font-size: 2rem;
  }
  #bhome main div.task-panel {
    margin-top: 3rem;
    padding: 1rem;
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */